<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="import" href="home">
</head>
<body>
<nav class="nav js-nav">
    <header class="nav-header">
        <img src="#" class="user-profile-picture" id="nav-profile-picture">
    </header>

    <div class="nav-item">
        <button type="button" id="button-groups" data-section="groups" class="nav-button">
            <svg class="nav-icon"><use xlink:href="#"></use></svg>
            Groups
        </button>

        <button type="button" id="button-chats" data-section="groups" class="nav-button">
            <svg class="nav-icon"><use xlink:href="#"></use></svg>
            Chats
        </button>

        <button type="button" id="button-classmates" data-section="groups" class="nav-button">
            <svg class="nav-icon"><use xlink:href="#"></use></svg>
            Classmates
            <div id="content"></div>
        </button>
    </div>

    <footer class="nav-footer">
        <button type="button" id="button-settings" data-section="groups" class="nav-footer-button">
            <svg id="settings-icon"><use xlink:href="#"></use></svg>
        </button>
    </footer>
</nav>

<main class="content js-content is-shown"></main> 
<div class="container body-content">
    @RenderBody()
    <hr />
    <footer>
        <p>&copy; 2018 - CSConnect</p>
    </footer>
</div>

    @RenderSection("Scripts", false)
</body>
</html>
